Saved/
Intermediate/
DerivedDataCache/
Binaries/
Build/
*.VC.db
*.sln
*.opensdf
*.sdf
*.suo
*.VC.db
*.vscode/
*.vs/
.vscode/
.vs/
*.xcodeproj
*.xcworkspace
*.DS_Store

Plugins/*/Intermediate/
Plugins/*/Binaries/
Plugins/*/DerivedDataCache/

*.uproject.sln
*.uproject.user
*.uprojectdirs
**/Thumbs.db

.git/
